    <!-- UBC Header -->
    <header id="ubc7-header" class="row-fluid expand" role="banner">
        <div class="container">
            <div class="span1">
                <div id="ubc7-logo">
                    <a href="https://www.ubc.ca" tabindex="1" title="The University of British Columbia (UBC)">The University of British Columbia</a>
                </div>
            </div>
            <div class="span11" id="ubc7-wordmark-block">
                <div id="ubc7-wordmark">
                    <a href="https://www.ubc.ca" tabindex="3" title="The University of British Columbia (UBC)">The University of British Columbia <span class="ubc7-campus" id="ubc7--campus"> campus</span></a>
                </div>
                <div id="ubc7-global-utility">
                    <button data-toggle="collapse" data-target="#ubc7-global-menu" tabindex="4"><span>UBC Search</span></button>
                    <noscript><a id="ubc7-global-utility-no-script" href="https://www.ubc.ca/" title="UBC Search">UBC Search</a></noscript>
                </div>
            </div>
        </div>
    </header>
    <!-- End of UBC Header -->
