    <!-- UBC Header -->
    <header id="ubc7-header" class="row-fluid " role="banner">
        <div class="container">
            <div class="span1">
                <div id="ubc7-logo">
                    <a href="http://www.ubc.ca">The University of British Columbia</a>
                </div>
            </div>
            <div class="span2">
                <div id="ubc7-apom">
                    <a href="//cdn.ubc.ca/clf/ref/aplaceofmind">UBC - A Place of Mind</a>
                </div>
            </div>
            <div class="span9" id="ubc7-wordmark-block">
                <div id="ubc7-wordmark">
                    <a href="http://www.ubc.ca">The University of British Columbia</a>
                    <span class="ubc7-campus" id="ubc7-vancouver-campus">Vancouver campus</span>
                </div>
                <div id="ubc7-global-utility">
                    <button type="button" data-toggle="collapse" data-target="#ubc7-global-menu"><span>UBC Search</span></button>
                    <noscript><a id="ubc7-global-utility-no-script" href="http://www.ubc.ca/">UBC Search</a></noscript>
                </div>
            </div>
        </div>
    </header>
    <!-- End of UBC Header -->