

    <!-- UBC Unit Navigation -->
    <div id="ubc7-unit-menu" class="navbar" role="navigation">
        <div class="navbar-inner ">
            <div class="container">
                <div class="nav-collapse collapse" id="ubc7-unit-navigation">
                    <ul class="nav">
                        {% for item in site.nav %}
                            <li{% if page.url == item.link %} class="active"{% endif %}>
                                <a href="{{ item.link | relative_url}}">{{ item.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div><!-- /.nav-collapse -->
            </div>
        </div><!-- /navbar-inner -->
    </div><!-- /navbar -->
