  <!-- UBC Unit Identifier -->
    <div id="ubc7-unit" class="row-fluid ">
        <div class="container">
            <div class="span12">
                <!-- Mobile Menu Icon -->
                <div class="navbar">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target="#ubc7-unit-navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                </div>
                <!-- Read more about Unit Name Treatment on http://brand.ubc.ca/clf -->
                <!-- No Faculty Treatment --><!--<div id="ubc7-unit-name" class="ubc7-single-element"> -->
                <div id="ubc7-unit-name">
                    <a href="/"><span id="ubc7-unit-faculty">{{ site.unit }}</span><span id="ubc7-unit-identifier">{{ site.title }}</span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End of UBC Unit Identifier -->
