    <!-- UBC Global Utility Menu -->
    <div class="collapse " id="ubc7-global-menu">
        <div id="ubc7-search">
            <div class="container">
                <div id="ubc7-search-box">
                    <form class="form-search" method="get" action="http://www.ubc.ca/search/refine/" role="search">
                        <input type="text" name="q" placeholder="Search this website" class="input-xlarge search-query">
                        <input type="hidden" name="label" value="Search UBC" />
                        <input type="hidden" name="site" value="{{ site.url }}{{ site.baseurl }}" />
                        <button type="submit" class="btn">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="ubc7-global-header">
                <!-- Global Utility Header from CDN -->
            </div>
        </div>
    </div>
    <!-- End of UBC Global Utility Menu -->