.paper {
  display: flex;
  flex-wrap: wrap;
}

.paper__thumb {
  padding: 5px;
  flex-shink: 0;
  min-width: 200px;
}

.paper__thumb img {
  display: block;
}

.paper__reference {
  min-width: 50%;
  padding: 5px 10px;
  flex: 3 0;
}

.paper__materials {
  flex-basis: 100%;
  max-width: 100%;
}