@import "../variables";

ul,
ol {
  margin-top: 0;
  margin-bottom: 1rem;

  // Override CLF.
  margin-left: 0;
  padding-left: 3rem;
}

// Override CLF.
ul ul,
ul ol,
ol ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  // Override CLF to match default line-height.
  line-height: 1.5;
}
