@import '../variables';

table,
tbody,
td,
tfoot,
th,
thead,
tr {
  border: 0;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  margin-bottom: 24px;
}

caption,
th {
  text-align: left;
}

th,
td {
  padding: 4px;
  border: 0 solid $ubc-silver;
}

th {
  vertical-align: bottom;
  border-bottom-width: 2px;
}

td {
  vertical-align: top;
  border-bottom-width: 1px;
}
