@import '../variables';

html {
  font-size: 10px;
}

body {
  font-family: $font-family;
  color: $gray-dark;

  // Override CLF.
  font-size: 1.7rem;

  // Fix absolute line-height from CLF.
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $ubc-blue;
  text-rendering: auto;
  font-weight: 400;
  line-height: 1.3;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}


// Header sizes.
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2.0rem;
}

// Header weights.
h3,
h4 {
  // font-weight: 700;
}

// Paragraphs.
p {
  line-height: 1.5;
}

// Links.
a {
  color: $link-color;
  text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  transition: color 0.5s ease-in;
}

a:hover,
a:active {
  color: darken($link-color, 20%);
}

hr {
  display: block;
  height: 0;
  border: 0;
  border-top: 2px solid $ubc-blue;
  margin: 2em auto;
  width: 80%;
  padding: 0;
}
